* {
  box-sizing: border-box;
}
td, table, th {
  width: 500px;
  margin: 16px;
  border: solid black 1px;
  border-collapse: collapse;
}
td,
th {
  padding: 4px;
  text-align: right;
 
}
div{
    overflow-x: auto;
}
