.custom-button {
  margin: 64px;
  width: 200px;
  height: 50px;
  background-color: coral;
  color: white;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  border: none;
  font-family: "Courier New", Courier, monospace;
  line-height: 50px;
}
.custom-button:hover {
  fill: green;
  color: darkcyan;
}
.bird_icon {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  fill: white;
}
.bird_icon:hover {
  fill: green;
}
.custom-button:hover > .bird_icon {
  fill: green;
}
/*.fas {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  text-decoration: solid;
}
