@import "header.scss";
* {
  box-sizing: border-box;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.submenu {

}
.menu__item_active {
  color: yellow;
}
.submenu__item {
  margin: 0;
  background-color: #ff7f50;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  color: #fff;
  min-width: 120px;
  z-index: 1;
  padding: 0 8px 0 8px;
  cursor: pointer;
  list-style-type: none;
  text-transform: uppercase;
}
.submenu__item:hover {
  color: black;
}
.menu__item-text:hover .submenu {
  display:inline-block;
}
