@import "breakpoints.scss";
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.square {
  width: 100px;
  height: 100px;
  background-color: #ff7f50;
  margin: 16px;

  @include for-medium-up {
    background-color: #8a2be2;
    margin: 8px;
  }
  @include for-large-up {
    background-color: #a61;
    margin: 8px;
  }
  @include for-extra-large-up {
    background-color: #c47;
    margin: 8px;
  }
  @include for-landscape {
    margin: 8px;
  }
}
.container {
  @include for-landscape {
    display: flex;
  }
}
