.text {
    margin: 16px;
    font-style: 1px dotted black;
    display: flex;
}

.tooltip {
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 8px;
    bottom: -40px;
    display: inline-block;
    display: none;
}