        .text {
            margin: 16px;
            text-decoration: underline 1px dotted black;
            display: inline-block;
        }
        
        .tooltip {
            background-color: grey;
            color: white;
            border-radius: 4px;
            padding: 8px;
            display: block;
            display: none;
        }
        
        .text:hover>.tooltip {
            display: block;
        }