                        .text {
                            margin: 16px;
                            border-bottom: 1px dotted black;
                            display: inline-block;
                            position: relative;
                        }
                        
                        .tooltip {
                            background-color: grey;
                            color: white;
                            border-radius: 4px;
                            padding: 8px;
                            display: block;
                            bottom: -40px;
                            display: none;
                            position: absolute;
                        }
                        
                        .text:hover>.tooltip {
                            display: block;
                        }