* {
  box-sizing: border-box;
}
table {
  margin: 16px;
  border-collapse: collapse;
  border: solid black 1px;
}
td {
  height: 50px;
  width: 50px;
  text-align: center;
  border: solid black 1px;
}
tr > td:nth-child(odd) {
  background-color: black;
}
tr > td:first-child {
  background-color: white;
  border: none;
}
tr > td:last-child {
  border: none;
}

tr:first-child td {
  background-color: white;
  border: none;
}
tr:last-child td {
  background-color: white;
  border: none;
}
tr:nth-child(odd)>td:nth-child(odd) {
  background-color: white;
 
}
table>tbody>tr:nth-child(odd){
  background-color: black;
}
tr>td:last-child{
  background-color: white;
}
