* {
  box-sizing: border-box;
}
td,
table,
th {
  margin: 16px;
  border: solid black 1px;
  border-collapse: collapse;
}
td,
th {
  padding: 4px;
  text-align: right;
}
div {
  overflow-x: auto;
}
th {
  background-color: aqua;
}
tfoot {
  font-weight: 700;
}
caption {
  margin-bottom: 8px;
}
tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}
tbody > tr:hover {
  background-color: #aaa;
  color: white;
}
tr {
  height: 40px;
}
table {
  width: 500px;
}
